body {
    background-color: #ECEFF1;
}

.tag-button {
    margin-right: 0.444rem;
    margin-bottom: 0.667rem;
}

.tag-list {
    margin-right: 0.875rem;
    font-style: italic;
    font-size: 0.875rem;
}

.navbar-brand {
    font-size: 3.375rem;
}

.tag-button:focus {
    background-color: #ECEFF1;
    color: #0275d8;
}
